.scrollToTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.scrollToTopButton {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.show {
    opacity: 100;
}

.notShow {
    opacity: 0;
}

.scrollToTopIcon {
    color: #d4145a;
    height: 4rem;
    width: 4rem;
}