.linksContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linkBox {
    height: 8rem;
    width: 80vw;
    background-color: #f2f2f2;
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 7px;
    border: none;
}

.testerText {
    color: #d4145a;
}

@media screen and (min-width: 1024px) {
    .linkBox {
        width: 50vw;
    }
}