.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
}

.mainBox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10rem;
}

@media screen and (min-width: 1024px) {
    .mainBox {
        max-width: 60%;
    }
}