.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.mainBox {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10rem;
}

video {
    width: 100%;
}

.scrollableBox {
    height: 300px;
    max-width: 500px;
    overflow-y: scroll;
}


