.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.mainBox {
    max-width: 90%;
}

.title {
    font-size: 3.5rem;
}

.subtitle {
    font-size: 2.7rem;
}

video {
    width: 100%;
}

.scrollableBox {
    height: 300px;
    max-width: 500px;
    overflow-y: scroll;

    font-size: 1.8rem;
}

p {
    font-size: 1.7rem;
    font-weight: bold;
}
